<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <script src="/js/index.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" />



</head>

<body>



<div id="wrapper">
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <div class="sidebar-nav">
            <div class="sidebar-brand">
                <a href="/shoppingcart"><div id="shoppingchartbutton" class="btn filtercategory">Shopping Cart</div></a>
                <p></p>
                <div id="filterbutton" class="btn filtercategory">Filter</div>
                <div id="filterList">
                    <form action="/index" method="get">
                        <p></p>
                        <div th:each="filterCategory:${filter.getFilterCategories()}">

                            <div class="category" th:text="${filterCategory.getValue()}"></div>
                            <div th:each="filterElement:${filterCategory.getElements()}">
                                <span th:switch="${filterElement.isChecked()}">
                                    <div th:case="true"><input type="checkbox" th:class="${filterCategory.getClassName()}" checked="" th:name="${filterCategory.getClassName()}" th:value="${filterElement.getName()}" th:id="${filterElement.getName()}" /><label th:for="${filterElement.getName()}" th:text="${filterElement.getName()}"></label></div>
                                    <div th:case="false"><input type="checkbox" th:class="${filterCategory.getClassName()}" th:name="${filterCategory.getClassName()}" th:value="${filterElement.getName()}" th:id="${filterElement.getName()}"/><label th:for="${filterElement.getName()}" th:text="${filterElement.getName()}"></label></div>
                                </span>
                            </div>
                            <span class="btn-group btn-group-xs">
                                <button class="btn btn-md" type="button" value="Select all" th:onclick="'setFilterCategoryChecked(\''+${filterCategory.getClassName()}+'\')'">Select all</button>
                                <button class="btn btn-md" type="button" value="Clear all" th:onclick="'setFilterCategoryUnchecked(\''+${filterCategory.getClassName()}+'\')'">Clear all</button>
                            </span>
                        </div>
                        <p></p>
                        <div><input class="btn btn-primary btn-sm" type="submit" value="Filter"/></div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div>
            <div>
                <span class="btn filtermenu" id="menu-toggle">&#9776; Menu</span>
                 <span class="loginPart">
                    <span>Already a user? </span>
                <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
                    Login
                </button>
                 </span>
                <span class="title">NWNC Shop</span>
                <a href="/shoppingcart">
                    <div class="shoppingcart" style="float: right">
                        <img height="20px" th:attr="src='/img/shopping-cart-icon.png'" alt=""/>
                        <strong id="cart-count" style="float: right;" ></strong>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    <div>
    </div>
    <!-- Page Content -->
    <div id="page-content-wrapper" style="padding-top: 50px">
    <div th:each="category:${category}">
        <div class="container-fluid" th:id="'category'+${category.id}">
            <div th:id="'category'+${category.id}" th:if="${category.isCheckedCheckbox()}==true" class="well well-sm" th:onclick="'javascript:filter(\'' + ${category.id} + '\');'">
                <strong th:text="${category.name}">Category Title</strong>
            </div>
            
            <div id="products" class="row list-group">
                <div th:each="prod,iterStat : ${products}">
                    <div class="item col-xs-4 col-lg-4" th:if="${prod.getProductCategory().getName()} == ${category.getName()}">
                        <div class="thumbnail">
                            <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" height="150" width="150"/>
                            <div class="caption">
                                <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                                <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <button class="btn btn-success" th:onclick="'addToCart(\''+${prod.id}+'\');'">Add to cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="col-sm-5" style="display: block">
                            <form id="loginForm" method="post" action="/login">
                                <label><b>Username</b></label>

                                <input type="text" placeholder="Enter Username" name="username" required="true"/>
                                 <br></br>
                                <label><b>Password</b></label>
                                <input type="password" placeholder="Enter Password" name="password" required="true"/>
                                <br></br>
                                <input type="hidden" name="place" value="main"/>
                                <button type="submit">Login</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <input type="hidden" id="refresh" value="no"/>
</div>



<div th:replace="footer :: copy"></div>

</body>
</html>
