<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Codecool Shop</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <script src="/js/filter.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />
</head>

<body>
<span id="closing_span" onclick="openNav()">&#9776; Filter</span>

<div id="mySidenav" class="sidenav">
        <form action="/index" method="post">
            <p>Product category:</p>
            <span th:each="category:${category}">
                <span th:switch="${category.isCheckedCheckbox()}">
                    <p th:case="true"><input type="checkbox" class="category" checked="" th:name="${category.name}" th:value="${category.name}" th:text="${category.name}"/></p>
                    <p th:case="false"><input type="checkbox" class="category" th:name="${category.name}" th:value="${category.name}" th:text="${category.name}"/></p>
                </span>
            </span>
            <span class="btn-group btn-group-xs">
                <button class="btn btn-default" type="button" value="Select all" onclick="setCatergoryChecked()">Select all</button>
                <button class="btn btn-default" type="button" value="Clear all" onclick="setCategoryUnchecked()">Clear all</button>
            </span>
            <p></p>
            <p>Suppliers:</p>
            <span th:each="supplier:${suppliers}">
                <span th:switch="${supplier.isCheckedCheckbox()}">
                    <p th:case="true"><input type="checkbox" class="supplier" checked="" th:name="${supplier.name}" th:value="${supplier.name}" th:text="${supplier.name}"/></p>
                    <p th:case="false"><input type="checkbox" class="supplier" th:name="${supplier.name}" th:value="${supplier.name}" th:text="${supplier.name}"/></p>
                </span>
            </span>
            <span class="btn-group btn-group-xs">
                <button class="btn btn-default" type="button" value="Select all" onclick="setSuppliersChecked()">Select all</button>
                <button class="btn btn-default" type="button" value="Clear all" onclick="setSuppliersUnchecked()">Clear all</button>
            </span>
            <div><input class="btn btn-primary" type="submit" value="Filter"/></div>
        </form>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>

<div class="jumbotron text-center">
    <h1>Codecool Shop</h1>
</div>
<div th:each="category:${category}">
    <div class="container-fluid" th:id="'category'+${category.id}">
        <div th:id="'category'+${category.id}" th:if="${category.isCheckedCheckbox()}==true" class="well well-sm" th:onclick="'javascript:filter(\'' + ${category.id} + '\');'">
            <strong th:text="${category.name}">Category Title</strong>
        </div>

    <div id="products" class="row list-group">
        <div th:each="prod,iterStat : ${products}">
            <div class="item col-xs-4 col-lg-4" th:if="${prod.getProductCategory()} == ${category}">
            <div class="thumbnail">
                <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/img/product_' + ${prod.id} + '.jpg'" alt="" height="150" width="150"/>
                <div class="caption">
                    <h4 class="group inner list-group-item-heading" th:text="${prod.name}">Product name</h4>
                    <p class="group inner list-group-item-text" th:text="${prod.description}">Product description... </p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="#">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</div>

<div th:replace="footer :: copy"></div>

<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>
</html>